body
{
  margin: 0;
}

#sun
{
	border: 1px solid black;
	border-radius: 50%;
	padding: 100px;
	position: absolute;
  top: 0px;
  left: 300px;
  background: rgb(241, 255, 133); /* For browsers that do not support gradients */
 /* background: -webkit-radial-gradient(circle, rgba(19, 9, 31, 1), rgba(82, 57, 107, 1), 
    rgba(27, 45, 165, 1), rgba(29, 91, 136, 1), 
    rgba(0, 92, 200, 1), rgba(200, 83, 0, 1),
    rgba(200, 102, 0, 0.91), rgba(200, 100, 100, 1),
    rgba(200, 102, 0, 0.91), rgba(200, 100, 100, 1),
    rgba(200, 102, 0, 0.91), rgba(200, 100, 100, 1),
    rgba(200, 102, 0, 0.91), rgba(200, 100, 100, 1),
    rgba(200, 102, 0, 0.91), rgba(200, 100, 100, 1), 
    rgba(200, 102, 0, 0.91), rgba(200, 100, 100, 1), 
    rgba(255, 24, 0, 0.89), rgba(255, 47, 0, 1) );/*Safari 5.1-6*/
    -webkit-filter: contrast(200%) brightness(200%) blur(2px) drop-shadow(2px 2px 2px rgb(241, 255, 133)); /* Safari */
    filter: contrast(200%) brightness(200%) contrast(200%) blur(2px) drop-shadow(2px 2px 2px rgb(241, 255, 133));
    z-index: 1;
}

canvas
{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.container
{
	position: relative;
  width: 1500px;
  height: 1000px;
}

@keyframes sky
{
  0%
  {  
    background: -webkit-linear-gradient(top, rgba(19, 9, 31, 1), rgba(82, 57, 107, 1), 
    rgba(27, 45, 165, 1), rgba(29, 91, 136, 1), 
    rgba(0, 92, 200, 1), rgba(200, 83, 0, 1),
    rgba(200, 102, 0, 0.91), rgba(200, 100, 100, 1),
    rgba(200, 102, 0, 0.91), rgba(200, 100, 100, 1),
    rgba(200, 102, 0, 0.91), rgba(200, 100, 100, 1),
    rgba(200, 102, 0, 0.91), rgba(200, 100, 100, 1),
    rgba(200, 102, 0, 0.91), rgba(200, 100, 100, 1), 
    rgba(200, 102, 0, 0.91), rgba(200, 100, 100, 1), 
    rgba(255, 24, 0, 0.89), rgba(255, 47, 0, 1) );/*Safari 5.1-6*/
    background: -o-linear-gradient(top,rgba(255,0,0,0),rgba(255,0,0,1)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top,rgba(255,0,0,0),rgba(255,0,0,1)); /*Fx 3.6-15*/
    background: linear-gradient(top, rgba(200,255, 200,0), rgba(255,0,0,1)); /*Standard*/
  }
  10%
  {

  }
  20%
  {

  }
  30%
  {

  }
  40%
  {

  }
  50%
  {

  }
  60%
  {

  }
  70%
  {

  }
  80%
  {

  }
  90%
  {

  }
  100%
  {

  }
}

